    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #010101;
        --color01: #010101;
        --color02: #010101;
        --color03: #F6F6F5;
        --color04: #ffffff;
        --color05: #ffffff;
        --color06: #ffffff;
        --color07: #ffffff;
        --color08: #ffffff;
        --color09: #b2aaaa;
        --color10: #cac5c5;
        --color11: #a49a9a;
        --color12: #dedada;
        --color13: #c1baba;
        --color14: #cfcaca;
        --color15: #b2aaaa;
    }
